.u-section-1 .u-sheet-1 {
    min-height: 470px;
  }
  
  .u-section-1 .u-text-1 {
    margin: 62px auto 0 100px;
  }
  
  .u-section-1 .u-text-2 {
    margin: -43px 93px 0 auto;
  }
  
  .u-section-1 .u-table-1 {
    width: 557px;
    margin: 9px auto 0 33px;
  }
  
  .u-section-1 .u-table-header-1 {
    font-weight: 700;
    background-image: none;
  }
  
  .u-section-1 .u-table-2 {
    width: 403px;
    margin: -284px 53px 60px auto;
  }
  
  .u-section-1 .u-table-header-2 {
    font-weight: 700;
    background-image: none;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-text-1 {
      width: 403px;
    }
  
    .u-section-1 .u-table-1 {
      height: 287px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-table-1 {
      width: 540px;
      margin-left: 0;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-table-1 {
      width: 340px;
    }
  
    .u-section-1 .u-table-2 {
      width: 340px;
      margin-right: 0;
    }
  }